.outerContainer {
	width: 100%;
	padding: 2rem;
	display: flex;
}

.innerContainer {
	margin: 0 auto;
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 100%;
}

.error {
	color: #e00;
}

.urlContainer {
	display: flex;
	align-items: center;
}

.urlContainer input {
	width: 400px;
}

.removeButton {
	padding: 2px 7px 0px 7px;
	border-color: #e00;
	color: #e00;
}

.removeButton:hover {
	background-color: #e00;
}

.removeButton:disabled,
.removeButton[disabled] {
	background-color: initial;
}

.removeButton::after {
	content: '\00d7';
	font-size: 25px;
}

.actionsContainer {
	display: flex;
	align-items: center;
	justify-content: center;
}

.addButton {
	font-size: 25px;
	padding: 2px 7px 0px 7px;
}

.song {
	margin-top: 1rem;
	display: flex;
	justify-content: space-between;
	padding: 6px;
	font-size: 10px;
	border: 1px solid rgba(0, 209, 178, 1);
	width: 100%;
	border-radius: 5px;
	position: relative;
}

.song ~ .song {
	margin-top: 0.5rem;
}

.progress {
	position: absolute;
	top: 0px;
	left: 0;
	width: 0%;
	height: calc(100% + 1px);
	background: rgba(0, 209, 178, 0.2);
	z-index: -1;
}
